{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">

                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Прогресс заполнения
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step2">Шаг 1. Способ доставки</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step3">Шаг 2. Способ оплаты</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step4">Шаг 3. Подтверждение заказа</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="Section-content">
                    <form class="form" action="/cart/confirm-order" method="get">
                        <div class="Order-block  Order-block_OPEN" id="step2">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 1. Способ доставки
                                </h2>
                            </header>
                            <div class="form-group">
                                <div>
                                    <label class="toggle">
                                        <input type="radio" name="delivery" value="ordinary" checked="checked" /><span class="toggle-box"></span><span class="toggle-text">Обычная доставка</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="toggle">
                                        <input type="radio" name="delivery" value="express" /><span class="toggle-box"></span><span class="toggle-text">Экспресс доставка</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="city">Город
                                </label>
                                <input class="form-input" id="city" name="city" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="address">Адрес
                                </label>
                                <textarea class="form-textarea" name="address" id="address"></textarea>
                            </div>
                            <div class="Order-footer"><a class="btn btn_success Order-next" href="#step3">Дальше</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step3">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 2. Способ оплаты
                                </h2>
                            </header>
                            <div class="form-group">
                                <div>
                                    <label class="toggle">
                                        <input type="radio" name="pay" value="online" checked="checked" /><span class="toggle-box"></span><span class="toggle-text">Онлайн картой</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="toggle">
                                        <input type="radio" name="pay" value="someone" /><span class="toggle-box"></span><span class="toggle-text">Онлайн со случайного чужого счета</span>
                                    </label>
                                </div>
                            </div>
                            <div class="Order-footer"><a class="btn btn_success Order-next" href="#step4">Дальше</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step4">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">Шаг 3. Подтверждение заказа
                                </h2>
                            </header>
                            <!--+div.Order.-confirmation-->
                            <div class="Order-infoBlock">
                                <div class="Order-personal">
                                    <div class="row">
                                        <div class="row-block">
                                            <div class="Order-info">
                                                <div class="Order-infoType">ФИО:
                                                </div>
                                                <div class="Order-infoContent"> {{user.first_name}} {{user.last_name}}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Телефон:
                                                </div>
                                                <div class="Order-infoContent">{{user.profile.phone}}
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">E-mail:
                                                </div>
                                                <div class="Order-infoContent">{{user.profile.email}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-block">
                                            <div class="Order-info Order-info_delivery">
                                                <div class="Order-infoType">Тип доставки:
                                                </div>
                                                <div class="Order-infoContent">Обычная доставка
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Город:
                                                </div>
                                                <div class="Order-infoContent" id="div_city">Москва
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">Адрес:
                                                </div>
                                                <div class="Order-infoContent" id="street">Ул. Академика Арцимовича, д. 10, кв. 10
                                                </div>
                                            </div>
                                            <div class="Order-info Order-info_pay">
                                                <div class="Order-infoType">Оплата:
                                                </div>
                                                <div class="Order-infoContent">Онлайн картой
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart Cart_order">
                                    {% for item in cart %}
                                    {% with product=item.product %}
                                    <div class="Cart-product">
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="/product/{{product.slug}}"><img class="Cart-img"
                                                                                                                       src="{{product.image.url}}"
                                                                                                                       alt="card.jpg"/></a>
                                            </div>
                                            <div class="Cart-block Cart-block_info"><a id="btn1" class="Cart-title" href="/product/{{product.slug}}">{{ product.name }}</a>
                                            </div>
                                            <div class="Cart-block Cart-block_price">
                                                <div class="Cart-price">{{ item.price }}₽
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_seller">
                                                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                                            </div>
                                            <div class="Cart-block Cart-block_amount">
                                                <div class="Cart-amount">
                                                    <div class="Amount">
                                                        <p class="Amount-input form-input">{{ item.quantity }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url "cart:cart_remove" product.id%}"><img
                                                    src="../../static/assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endwith %}
                                    {% endfor %}
                                    <div class="Cart-total">
                                        <div class="Cart-block Cart-block_total">
                                            <strong class="Cart-title">Итого:
                                            </strong><span class="Cart-price">{{ cart.get_total_price }}₽</span>
                                        </div>
                                        <div class="Cart-block"><button class="btn btn_success btn_lg" type="submit" href="">Оформить
                                            заказ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const inp = document.getElementById('city'),
            div = document.getElementById('div_city'),
            inp1 = document.getElementById('address'),
            div1 = document.getElementById('street'),
            btn = document.getElementById('btn1');
        btn.addEventListener('click', function () {
            if (inp.value.length)   // добавляем текст только если его длина !== 0
                div.innerHTML += inp.value + '<br>';
            if (inp1.value.length)   // добавляем текст только если его длина !== 0
                div1.innerHTML += inp1.value + '<br>';
        });
    });
</script>
{% endblock %}
