{% load static %}
<!DOCTYPE html>

<head>
    <title>Megano</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'assets/fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/extra.css' %}">
    <script src="{% static 'assets/plg/CountDown/countdown.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="Site">
<header class="Header">
    <div class="ControlPanel">
        <div class="wrap">
            <div class="row ControlPanel-row">
                <div class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        <div class="row-block hide_700">
                            <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="../../static/assets/img/icons/socialHeader/tw.svg" alt="tw.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="../../static/assets/img/icons/socialHeader/in.svg" alt="in.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="../../static/assets/img/icons/socialHeader/pt.svg" alt="pt.svg"/></a>
                                </li>
                                <li class="menu-item"><a class="menu-link" href="#"><img
                                        src="../../static/assets/img/icons/socialHeader/mail.svg" alt="mail.svg"/></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="row-block">
                    <div class="row ControlPanel-rowSplit">
                        {% if user.is_authenticated %}
                        <div class="row-block"><a class="ControlPanel-title" href="{% url 'logout' %}">Выйти</a>
                        </div>
                        {% else %}
                        <div class="row-block"><a class="ControlPanel-title" href="{% url 'login' %}">Вход</a>
                            <a class="ControlPanel-title" href="{% url 'signup' %}">Регистрация</a>
                        </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
        <!--+div.menuModal#navigate
  //    +menu([
  //        ['Главная','index.html'],
  //        ['Портфолио','index.html'],
  //        ['Мои проекты','index.html'],
  //        ['Контакты','index.html']
  //    ], page === 'article'? 'Портфолио': 'Главная')._main

  block
  -->
    </div>
    <div class="wrap">
        <div class="row Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="/"><img class="logo-image"
                                                                                      src="../../static/assets/img/logo.png"
                                                                                      alt="logo.png"/></a>
            </div>
            <nav class="row-block row-block_right Header-menu">
                <div class="menuModal" id="navigate">
                    <ul class="menu menu_main">
                        <li class="menu-item"><a class="menu-link" href="/">Главная</a>
                        </li>
                        <li class="menu-item"><a
                                class="menu-link" href="/catalog">Каталог</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row-block">


                <div class="CartBlock">
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn"><img class="CartBlock-img"
                                                     src="../../static/assets/img/icons/loon-icon.svg"
                                                     alt="loon-icon.svg"/></button>
                        <div class="dropdown-content">
                            <a class="dropdown-content-a" href="{% url 'profile' %}">Личный кабинет</a>
                            {% if user.is_superuser %}
                            <a class="dropdown-content-a" href="/admin">Административный раздел</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <a class="CartBlock-block" href="/cart"><img class="CartBlock-img"
                                                                             src="../../static/assets/img/icons/cart.svg"
                                                                             alt="cart.svg"/></a>
                    <div class="CartBlock-block">


                    </div>
                </div>
            </div>
            <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
                <div class="menuTrigger-content">Показать навигацию
                </div>
                <span></span><span></span><span></span>
            </a>
            </div>
        </div>
    </div>
    <div class="Header-searchWrap">
        <div class="wrap">
            <div class="Header-categories">
                <div class="CategoriesButton">
                    <div class="CategoriesButton-title">
                        <div class="CategoriesButton-icon"><img src="../../static/assets/img/icons/allDep.svg"
                                                                alt="allDep.svg"/>
                        </div>
                        <span class="CategoriesButton-text">{% if category %}{{ category.name }}{% else %}Все категории{% endif %}</span>
                        <div class="CategoriesButton-arrow">
                        </div>
                    </div>
                    <div class="CategoriesButton-content">
                        <div class="CategoriesButton-link">
                            <a href="/catalog/"><span class="CategoriesButton-text">Все категории</span></a>
                        </div>
                        {% for c in categories %}
                        <div class="CategoriesButton-link">
                            <a href="/catalog/{{ c.slug }}"><span class="CategoriesButton-text">{{ c.name }}</span></a>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="Header-searchLink"><img src="../../static/assets/img/icons/search.svg" alt="search.svg"/>
            </div>
            <div class="Header-search">
                <div class="search">
                    <form class="form form_search" action="{% url 'product_list' %}" method="get">
                        <input class="search-input" id="query" name="q" type="text"
                               placeholder="NVIDIA GeForce RTX 3060" value="{{name}}"/>
                        <button class="search-button" type="submit" id="search"><img
                                src="../../static/assets/img/icons/search.svg" alt="search.svg"/>Поиск
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="Footer">
    <div class="wrap">
        <div class="row Footer-main">
            <div class="row-block"><a class="logo Footer-logo" href="/"><img class="logo-image"
                                                                                      src="../../static/assets/img/logo_footer.png"
                                                                                      alt="logo_footer.png"/></a>
            </div>
            <div class="row-block">
                <strong class="Footer-title">Навигация
                </strong>
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item"><a class="menu-link" href="/">Главная</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/catalog">Каталог</a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="/profile">Профиль</a>
                    </li>

                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">Контакты
                </strong>
                <p>Phone: 8.800.200.600<br>Email: xxx@meg.com<br>
                </p>
                <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                    <li class="menu-item"><a class="menu-link" href="#"><img
                            src="{% static 'assets/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img
                            src="{% static 'assets/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img
                            src="{% static 'assets/img/icons/socialFooter/in.svg' %}" alt="in.svg"/></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img
                            src="{% static 'assets/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/></a>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="#"><img
                            src="{% static 'assets/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--+Middle-->
<!--    +div.-top-->
<!--        +breadcrumbs('Главная','Портфолио')-->
<!--    +Article('portfolio')-->
<!---->
<script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
<script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
<script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>
</body>
</html>