<!--END-->
<!--END-->
<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if IE 10]>
<html class="ie10" lang="ru">
<![endif]-->
<!--[if IE 11]>
<html class="ie11" lang="ru">
<![endif]-->
<!--[if gt IE 11]><!-->
<html lang="ru">
<!--<![endif]-->

<head>
    <title>Megano</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../../static/favicon.ico" rel="shortcut icon">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Regular.woff" as="font">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Italic.woff" as="font">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Bold.woff" as="font">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Bold_Italic.woff" as="font">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Light.woff" as="font">
    <link rel="preload" href="../../static/assets/fonts/Roboto/Roboto-Light_Italic.woff" as="font">
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/basic.css">
    <link rel="stylesheet" href="../../static/assets/css/extra.css">
    <script src="../../static/assets/plg/CountDown/countdown.js"></script>
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body class="Site">
    <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome"><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">Video Cards
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">₽199.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="../../static/assets/img/content/home/videoca.png" alt="videoca.png" />
                                </div>
                            </div>
                        </div>
                    </a><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">Head Phones
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">₽210.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="../../static/assets/img/content/home/videoca.png" alt="videoca.png" />
                                </div>
                            </div>
                        </div>
                    </a><a class="BannersHomeBlock" href="#">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">Bass Speakers
                                </strong>
                                <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">₽159.00</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="../../static/assets/img/content/home/videoca.png" alt="videoca.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft Section_columnDesktop">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection Section-columnSection_mark">
                      <header class="Section-columnHeader">
                        <strong class="Section-columnTitle">ОГРАНИЧЕННЫЕ ПРЕДЛОЖЕНИЯ
                        </strong>
                      </header>
                      <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                          </strong>
                          <div class="Card-description">
                            <div class="Card-cost"><span class="Card-priceOld">₽115.00</span><span class="Card-price">₽85.00</span>
                            </div>
                            <div class="Card-category">News / xbox
                            </div>
                          </div>
                          <div class="CountDown" data-date="31.09.2020 03:59">
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-days">
                                </div><span class="CountDown-label">days</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-hours">
                                </div><span class="CountDown-label">hours</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-minutes">
                                </div><span class="CountDown-label">mins</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-secs">
                                </div><span class="CountDown-label">secs</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="Section-content">
                    <header class="Section-header">
                        <h2 class="Section-title">Популярные товары
                        </h2>
                    </header>
                    <div class="Cards">
                        <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                    </div>
                                    <div class="Card-category">Games / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                    </div>
                                    <div class="Card-category">Games / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽185.00</span>
                                    </div>
                                    <div class="Card-category">Digital / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽210.00</span>
                                    </div>
                                    <div class="Card-category">Media / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card hide_md"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                    </div>
                                    <div class="Card-category">Games / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card hide_md"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                    </div>
                                    <div class="Card-category">Games / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽185.00</span>
                                    </div>
                                    <div class="Card-category">Digital / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">₽210.00</span>
                                    </div>
                                    <div class="Card-category">Media / xbox
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a><a class="Card-btn" href="compare.html"><img src="../../static/assets/img/icons/card/change.svg" alt="change.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnRight">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Slider Slider_carousel">
                        <header class="Section-header Section-header_close">
                            <h2 class="Section-title">Ограниченный тираж
                            </h2>
                            <div class="Section-control">
                                <div class="Slider-navigate">
                                </div>
                            </div>
                        </header>
                        <div class="Slider-box Cards">
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                                </div>
                                                <div class="Card-category">Games / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Brand New Phone Smart Business</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽85.00</span>
                                                </div>
                                                <div class="Card-category">Games / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽185.00</span>
                                                </div>
                                                <div class="Card-category">Digital / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽210.00</span>
                                                </div>
                                                <div class="Card-category">Media / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽185.00</span>
                                                </div>
                                                <div class="Card-category">Digital / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽210.00</span>
                                                </div>
                                                <div class="Card-category">Media / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽185.00</span>
                                                </div>
                                                <div class="Card-category">Digital / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="#"><img src="../../static/assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                                            </strong>
                                            <div class="Card-description">
                                                <div class="Card-cost"><span class="Card-price">₽210.00</span>
                                                </div>
                                                <div class="Card-category">Media / xbox
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="#"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="Footer">
        <div class="wrap">
            <div class="row Footer-main">
                <div class="row-block"><a class="logo Footer-logo" href="index.html"><img class="logo-image" src="../../static/assets/img/logo_footer.png" alt="logo_footer.png" /></a>
                </div>
                <div class="row-block">
                    <strong class="Footer-title">Навигация
                    </strong>
                    <ul class="menu menu_vt Footer-menu">
                        <li class="menu-item"><a class="menu-link" href="index.html">Главная</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="catalog.html">Каталог</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="comparison.html">Сравнение</a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="account.html">Профиль</a>
                        </li>

                    </ul>
                </div>
                <div class="row-block">
                    <strong class="Footer-title">Контакты
                    </strong>
                    <p>Phone: 8.800.200.600<br>Email: xxx@meg.com<br>
                    </p>
                    <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                        <li class="menu-item"><a class="menu-link" href="#"><img src="../../static/assets/img/icons/socialFooter/fb.svg" alt="fb.svg" /></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="../../static/assets/img/icons/socialFooter/tw.svg" alt="tw.svg" /></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="../../static/assets/img/icons/socialFooter/in.svg" alt="in.svg" /></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="../../static/assets/img/icons/socialFooter/pt.svg" alt="pt.svg" /></a>
                        </li>
                        <li class="menu-item"><a class="menu-link" href="#"><img src="../../static/assets/img/icons/socialFooter/mail.svg" alt="mail.svg" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--+Middle-->
    <!--    +div.-top-->
    <!--        +breadcrumbs('Главная','Портфолио')-->
    <!--    +Article('portfolio')-->
    <!---->
    <script src="../../static/assets/plg/jQuery/jquery-3.5.0.slim.min.js"></script>
    <script src="../../static/assets/plg/form/jquery.form.js"></script>
    <script src="../../static/assets/plg/form/jquery.maskedinput.min.js"></script>
    <script src="../../static/assets/plg/range/ion.rangeSlider.min.js"></script>
    <script src="../../static/assets/plg/Slider/slick.min.js"></script>
    <script src="../../static/assets/js/scripts.js"></script>
</body>

</html>