{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<div class="Section">
    <div class="wrap">
        <div class="BannersHome">
            {% for product in categories %}
            <a class="BannersHomeBlock" href="/catalog/{{product.slug}}">
                <div class="BannersHomeBlock-row">
                    <div class="BannersHomeBlock-block">
                        <strong class="BannersHomeBlock-title">{{ product.name }}
                        </strong>
                    </div>
                    <div class="BannersHomeBlock-block">
                        <div class="BannersHomeBlock-img"><img
                                src="/media/{{product.image}}" alt="videoca.png"/>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div class="Section Section_column Section_columnLeft Section_columnDesktop">
    <div class="wrap">
        <div class="Section-content" style="
    padding: 0;
">
            <header class="Section-header">
                <h2 class="Section-title">Популярные товары
                </h2>
            </header>
            <div class="Cards">
                {% for card in top_products %}
                <div class="Card"><a class="Card-picture" href="/product/{{card.slug}}"><img
                        src="/media/{{card.image}}" alt="card.jpg"/></a>
                    <div class="Card-content">
                        <strong class="Card-title"><a href="/product/{{card.slug}}">{{card.name}}</a>
                        </strong>
                        <div class="Card-description">
                            <div class="Card-cost"><span class="Card-price">₽{{card.price}}</span>
                            </div>
                            <div class="Card-category">{{card.slug}}
                            </div>
                            <div class="Card-hover"><a class="Card-btn" href="/product/{{card.slug}}"><img
                                    src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg"/></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="Section Section_column Section_columnRight">
                <div class="wrap">
                    <div class="Section-content" style="
    padding: 0;
">
                        <div class="Slider Slider_carousel">
                            <header class="Section-header Section-header_close">
                                <h2 class="Section-title">Ограниченный тираж
                                </h2>
                                <div class="Section-control">
                                    <div class="Slider-navigate">
                                    </div>
                                </div>
                            </header>
                            <div class="Slider-box Cards">
                                {% for item in limited %}
                                <div class="Slider-item">
                                    <div class="Slider-content">
                                        <div class="Card"><a class="Card-picture" href="/product/{{item.slug}}"><img src="/media/{{item.image}}" alt="card.jpg" /></a>
                                            <div class="Card-content">
                                                <strong class="Card-title"><a href="/product/{{item.slug}}">{{item.name}}</a>
                                                </strong>
                                                <div class="Card-description">
                                                    <div class="Card-cost"><span class="Card-price">₽{{item.price}}</span>
                                                    </div>
                                                    <div class="Card-category">{{item.slug}}
                                                    </div>
                                                    <div class="Card-hover"><a class="Card-btn" href="/product/{{item.slug}}"><img src="../../static/assets/img/icons/card/cart.svg" alt="cart.svg" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}